<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <title>{% block title %}To Do{% endblock title %}</title>
</head>
<body class="bg-gray-100">

    <nav class="bg-white shadow-lg rounded-lg">
        <div class="mx-auto px-12">
            <div class="flex justify-between items-center h-[55px]">
                <div>
                    <a href="#">To Do</a>
                </div>
                <div>
                    menu
                </div>
            </div>
        </div>
    </nav>
    
    {% block content %}
      
    {% endblock content %}

</body>
</html>