[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[requires]
python_version = "3.12"

# o --- IGNORE ---  

# to run the project, use the command: python manage.py runserver