{% extends "base.html" %}
{% block title %} Details {% endblock title %}
{% block content %}
    
    <section>
        <div class="mt-8 mb-8">
            <h1 class="text-center text-[35px] font-bold">Students Details</h1>
            <div class="w-[1100px] mx-auto mt-3">
                <div class="relative rounded-xl bg-[url('https://www.publicdomainpictures.net/pictures/300000/nahled/banner-15631104348kO.jpg')] bg-cover bg-center bg-no-repeat  h-[300px]">
                {% if student.photo %}
                    <img class="absolute ring-3 object-cover w-[200px] h-[200px] rounded-full left-15 bottom-[-7rem]" src="{{ student.photo.url }}" alt="">
                {% else %}
                    <img class="absolute ring-3 object-cover w-[200px] h-[200px] rounded-full left-15 bottom-[-7rem]" src="https://img.freepik.com/free-psd/contact-icon-illustration-isolated_23-2151903337.jpg" alt="">
                {% endif %}
                            
                </div>
                <div class="mt-2 flex justify-between ml-[280px] mr-[20px] font-bold">
                    <div>
                        <p class="text-[30px]">{{ student.name }}</p>
                        <p>{{ student.email }}</p>
                    </div>
                    <div>
                        <p>{{ student.course }}</p>
                        <p>{{ student.phone }}</p>
                    </div>
                </div>
                <div class="mt-[50px] ml-8">
                    <h1><span class="text-md font-bold">Join:</span> {{ student.created_at|date:"F d, Y" }}</h1>
                    <p class="font-semibold text-gray-700">{{ student.description }}</p>
                </div>
                
            
            </div>
           
        </div>
    </section>
  
{% endblock content %}