{% extends "base.html" %}
{% block title %} Home {% endblock title %}
{% block content %}
    
    <section>
        <div class="mt-8 mb-8">
            <h1 class="text-center text-[35px] font-bold">Students List</h1>

            <div class="mt-6 grid grid-cols-4 gap-[30px] w-full">
                {% for student in students %}
                    <div class="h-[360px] border border-purple-500 rounded-xl p-3">
                        <div class="relative rounded-xl overflow-hidden">
                            {% if student.photo %}
                                <img class="w-full h-[200px] object-cover" src="{{ student.photo.url }}" alt="">
                            {% else %}
                                <img class="w-full h-[200px] object-cover" src="https://img.freepik.com/free-psd/contact-icon-illustration-isolated_23-2151903337.jpg" alt="">
                            {% endif %}

                            <a href="{% url 'details' student.pk %}" class="absolute bg-white p-1 px-3 rounded-xl hover:text-gray-700 bottom-2 left-2 font-semibold text-xl">{{ student.name | capfirst }}</a>
                        </div>
                        <div class="mt-1 ml-1">
                            <h1 class="font-bold">Email: <span class="font-semibold">{{ student.email }}</span></h1>
                            <h1 class="font-bold">Phone: <span class="font-semibold">{{ student.phone }}</span></h1>
                            <h1 class="font-bold">Course: <span class="font-semibold">{{ student.course }}</span></h1>
                            <div class="mt-2 font-semibold text-gray-800 hover:text-green-900">
                                <a href="{% url 'details' student.pk %}">{{ student.description|truncatechars:55 }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
  
{% endblock content %}



